@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";
@import "tailwindcss";

:root{
    --pcolor:#B75A48;
    --scolor:#E8ECD6;

    --bg:#E8ECD6;
    --card:#FFFFFF;

    --text:#1F2937;
    --muted:#6B7280;

    --border:#D8D2C3;
}

body{
    background:var(--bg);
    color:var(--text);
    font-family:Inter,sans-serif;
}

*{
    box-sizing:border-box;
}

button{
    cursor:pointer;
}